<!-- $Id$ -->
<h1>Create Football Season</h1>

<%= render 'shared' %>

<%= form_for(@season) do |f| %>
  <%= render "shared/error_messages", :target => @season %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :online %><br />
    <%= f.check_box :online %>
  </p>
  <p>
    <%= f.label :startdate %><br />
    <%= f.date_select :startdate, use_short_month: true, start_year: (Season.first.startdate.year - 5), order: [:day, :month, :year]  %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', seasons_path %>
