<!-- $Id$ -->
<%= render 'shared' %>

<table>
  <tr>
    <td>
      <%= form_for([@season.calendar.sport, @season], method: :get) do |f| -%>
        <%=
          f.collection_select :id, @season_list, :id, :name, {},
                                {
                                  onchange: "window.location = '/sports/#{@soccer.id}/seasons/' + this.form.season_id.options[this.form.season_id.selectedIndex].value + '/threshold/#{@threshold}'" }
        %>
      <% end -%>
    </td>
    <td><%= @season.startdate.to_s(:season) %> - <%= @enddate.to_s(:season) %></td>
    <td>[<b>0-0</b><%= "#{@nilnil}/#{@total}" %><span class="profit">R(8): <%= 8 * @nilnil - (@total - @nilnil) %></span>]</td>
    <td>[<b>1-0</b><%= "#{@onenil}/#{@total}" %><span class="lesserprofit">R(7): <%= 7 * @onenil - (@total - @onenil) %></span>]</td>
    <td>[<b>0-1</b><%= "#{@nilone}/#{@total}" %><span class="lesserprofit">R(7): <%= 7 * @nilone - (@total - @nilone) %></span>]</td>
    <td>Form</td>
    <td>
      <%= form_for(:season, :html => { :method => :get}) do |f| -%>
        <%= select_tag('threshold', options_for_select(@team_total_configs.keys.sort!, @threshold.to_i),
                           { :onchange => "window.location = '/sports/#{@soccer.id}/seasons/#{@season.id}/threshold/' + this.form.threshold.options[this.form.threshold.selectedIndex].value" })
        -%>
      <% end -%>
    </td>
  </tr>
</table>
<table class="table table-striped table-responsive">
  <tr>
    <th><%= left_title(@season) %></th>
    <th><%= right_title(@season) %></th>
  </tr>
  <tr>
    <td valign="top">
      <table border="1">
        <% if @season.current? Date.today %>
          <% @results.map { |match, display| match_display(match, display) }.each do |r| %>
          <tr>
            <td><%= r.kickofftime.strftime('%a %d-%b %y') %></td>
            <td><%= r.division %></td>
            <td class="<%= r.colour %>"><%= r.hometeam.name %></td>
            <td><%= r.homescore %></td>
            <td><%= r.awayscore %></td>
            <td class="<%= r.colour %>"><%= r.awayteam.name %></td>
            <td>(<%= r.nilnilscore %>)</td>
          </tr>
          <% end -%>
        <% else %>
          <% @results.select { |m, _d| m.kickofftime.month > 7 }.map { |match, display| match_display(match, display) }.each do |r| %>
          <tr>
            <td><%= r.kickofftime.strftime('%a %d-%b %y') %></td>
            <td><%= r.division %></td>
            <td class="<%= r.colour %>"><%= r.hometeam.name %></td>
            <td><%= r.homescore %></td>
            <td><%= r.awayscore %></td>
            <td class="<%= r.colour %>"><%= r.awayteam.name %></td>
            <td>(<%= r.nilnilscore %>)</td>
          </tr>
          <% end -%>
        <% end -%>
      </table>
    </td>
    <td valign="top">
      <table border="1">
        <% if @season.current? Date.today -%>
          <% @fixtures.map { |match, display| fixture_display(match, display) }.each do |f| %>
          <tr>
            <td><%= f.kickofftime.strftime('%a %d-%b %y') %></td>
            <td><%= f.division %></td>
            <td class="<%= f.colour %>"><%= f.hometeam.name %></td>
            <td><%= f.homescore %></td>
            <td><%= f.awayscore %></td>
            <td class="<%= f.colour %>"><%= f.awayteam.name %></td>
            <td>(<%= f.nilnilscore %>)</td>
          </tr>
          <% end -%>
        <% else -%>
          <% @results.select { |m, _d| m.kickofftime.month <= 7 }.map { |match, display| match_display(match, display) }.each do |f| %>
            <tr>
              <td><%= f.kickofftime.strftime('%a %d-%b %y') %></td>
              <td><%= f.division %></td>
              <td class="<%= f.colour %>"><%= f.hometeam.name %></td>
              <td><%= f.homescore %></td>
              <td><%= f.awayscore %></td>
              <td class="<%= f.colour %>"><%= f.awayteam.name %></td>
              <td>(<%= f.nilnilscore %>)</td>
            </tr>
          <% end -%>
        <% end -%>
      </table>
    </td>
  </tr>
</table>
<!--<%#= link_to 'Edit', edit_season_path(@season) %> |-->
<!--<%#= link_to 'All Football Seasons', seasons_path %> |-->
<%#= link_to 'Football Matches', football_season_soccer_matches_path(@season) %>
