<p>
  <b>Match:</b>
  <%=h @scorer.match_id %>
</p>

<p>
  <b>Team:</b>
  <%=h @scorer.team_id %>
</p>

<p>
  <b>Name:</b>
  <%=h @scorer.name %>
</p>

<p>
  <b>Goaltime:</b>
  <%=h @scorer.goaltime %>
</p>

<p>
  <b>Penalty:</b>
  <%=h @scorer.penalty %>
</p>

<p>
  <b>Owngoal:</b>
  <%=h @scorer.owngoal %>
</p>


<%= link_to 'Edit', edit_scorer_path(@scorer) %> |
<%= link_to 'Back', scorers_path %>