<h1>New event_basket_price</h1>

<% form_for([@basket, @event_basket_price]) do |f| %>
  <%= render "shared/error_messages", :target => @event_basket_price %>

  <p>
    <%= f.label :time %><br />
    <%= f.datetime_select :time %>
  </p>
  <p>
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.label :betsize %><br />
    <%= f.text_field :betsize %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', event_basket_prices_path %>
