<!-- $Id$ -->
<p>
  <b>Match:</b>
  <%=h @event_basket_price.basket.match_id %>
</p>

<p>
  <b>Basket:</b>
  <%=h @event_basket_price.basket_id %>
</p>

<p>
  <b>Time:</b>
  <%=h @event_basket_price.time %>
</p>

<p>
  <b>Price:</b>
  <%=h @event_basket_price.price %>
</p>

<p>
  <b>Betsize:</b>
  <%=h @event_basket_price.betsize %>
</p>


<%= link_to 'Edit', edit_event_basket_price_path(@event_basket_price) %> |
<%= link_to 'Back', event_basket_prices_path %>
