<% content_for :title do %>
  <%= season.name %> <%= division.name %> Fixtures
<% end %>
<% content_for :menu do -%>
  <li class="nav-item">
    <%= link_to 'Division', division_path(division), class: 'nav-link' %>
  </li>
  <% seasons.reverse_each do |s| -%>
    <li class="nav-item">
      <%= link_to_unless season == s, "#{s.name}(#{s.matches.where(division: division).with_prices.count})", division_season_fixtures_path(division, s), class: 'nav-link' %>
    </li>
  <% end -%>
  <% divisions.each do |d| %>
    <li class="nav-item">
      <%= link_to d.name, division_season_fixtures_path(d, season) %>
    </li>
  <% end %>
<% end -%>
<div align="center"><b><%= yield :title %></b></div>
