<!-- $Id$ -->
<%= render "title_menu" %>
<%- model_class = MarketRunner -%>
<div class="page-header">
  <b>
    <%= link_to @bet_market.match.division.name, division_matches_path(@bet_market.match.division) %>
    <%=t '.title', :default => model_class.model_name.human.pluralize %>
    for
    <%= link_to @bet_market.match.name, polymorphic_url([@bet_market.match, :bet_markets]) %>
    <%= @bet_market.match.kickofftime.to_fs(:kickoff).html_safe %>
  </b>
  <%= format_result(@bet_market.match) %>
  <%= link_to @bet_market.name, @bet_market %>
</div>
<div class="row">
  <div class="col-9">
    <%#content_tag :div, nil, id: "mr_chart",
                    class: "bet-markets-chart",
                data: {
                    labels: runner_labels(active_runners),
                    ykeys: runner_ykeys(active_runners),
                    xkey: bet_markets_xkey,
                    markets: runner_chart_data(active_runners),
                    ymin: 1,
                ymax: @ymax} %>
    <%= line_chart(runner_market_data(@bet_market.match, @market_runners),
                   # max: 10,
                   # min: 0,
                   # max auto doesn't work with this control
                   # max: @ymax,
                   height: '650px') %>
  </div>
  <div class="col-3">
    <table class="table table-striped table-responsive">
      <thead>
        <tr>
          <th><%= model_class.human_attribute_name(:runner) %></th>
          <th><%= model_class.human_attribute_name(:prices) %></th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
      <% @market_runners.each do |market_runner| %>
          <tr>
            <td><%= link_to market_runner.runnername, market_runner_trades_path(market_runner) %></td>
            <td align="right"><%= link_to market_runner.market_prices.count, bet_market_market_prices_path(@bet_market) %></td>
            <td>
              <% if @bet_market.open? %>
                <%= link_to t('.bet', :default => t("helpers.links.bet")),
                            new_market_runner_trade_path(market_runner), :class => 'btn btn-xs' %>
              <% end %>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                          edit_market_runner_path(market_runner), :class => 'btn btn-sm btn-outline-primary' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                          market_runner_path(market_runner),
                          :method => :delete,
                          :data => { :confirm => t('.confirm',
                                                   default: t("helpers.links.confirm",
                                                              default: "Are you sure you wish to delete #{market_runner.runnername}?")) },
                          :class => 'btn btn-sm btn-outline-danger' %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= link_to t('.trades', :default => t("helpers.links.trades")),
           bet_market_trades_path(@bet_market),
           :class => 'btn btn-primary' %>
