<!-- $Id$ -->
<% content_for :menu do %>
  <%= render 'layouts/shared/active_future_links' %>
<% end %>
<%- model_class = Sport -%>
<table class="table table-striped table-responsive">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:events) %></th>
      <th><%= model_class.human_attribute_name(:betfair_id) %></th>
      <th><%= model_class.human_attribute_name(:expiry_mins) %></th>
      <th><%= model_class.human_attribute_name(:active) %></th>
      <th><%= model_class.human_attribute_name(:created_on) %></th>
      <th colspan="2"><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @sports.each do |sport| %>
      <tr>
        <td><%= link_to sport.name, sport_path(sport) %></td>
        <td align="right"><%= sport.betfair_events_count %></td>
        <td align="right"><%= sport.betfair_sports_id %></td>
        <td align="right"><%= sport.expiry_time_in_minutes %></td>
        <td><%= sport.active ? 'Y' : 'N' %></td>
        <td><%= thedate(sport.created_at) %></td>
        <td> 
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_sport_path(sport), :class => 'btn btn-sm btn-outline-primary' %>
        </td>
        <td>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      sport_path(sport),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => "Are you sure you wish to delete #{sport.name}?")) },
                      :class => 'btn btn-sm btn-outline-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>