<!-- sports/$Id$ -->
<% content_for :menu do %>
  <%= render 'layouts/shared/active_future_links' %>
  <li class="nav-item">
    <%= link_to 'Market Types', sport_betfair_market_types_path(@sport),class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to 'Basket Rules', sport_basket_rules_path(@sport),class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to 'Divisions', sport_divisions_path(@sport),class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to 'Teams', sport_teams_path(@sport),class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to 'Matches', sport_matches_path(@sport),class: 'nav-link' %>
  </li>
<% end %>
<div class="page-header">
  <b><%= @sport.name %>&nbsp;(<%= @sport.betfair_sports_id %>)</b>
</div>
<table class="table table-responsive table-striped">
  <% @sport.divisions.active.each do |division| %>
    <tr>
      <td><%= link_to division.name, division %></td>
    </tr>
  <% end %>
</table>
<%#- model_class = Sport -%>

<!--<dl class="dl-horizontal">-->
<!--  <dt><strong><%#= model_class.human_attribute_name(:expiry_time) %>:</strong></dt>-->
<!--  <dd><%#= @sport.expiry_time_in_minutes %></dd>-->
<!--  <dt><strong><%#= model_class.human_attribute_name(:active) %>:</strong></dt>-->
<!--  <dd><%#= @sport.active %></dd>-->
<!--</dl>-->