<!-- $Id$ -->
<b>Editing football_match</b>

<% form_for([@season, @football_match]) do |f| %>
  <%= render "shared/error_messages", :target => @football_match %>

  <p>
    <%= f.label :match_id %><br />
    <%= collection_select(:football_match, :match_id, @matches, :id, :name) %>
  </p>
  <p>
    <%= f.label :footie_fixture_id %><br />
    <%= collection_select(:football_match, :footie_fixture_id, @footie_fixtures, :id, :name_and_date) %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Back', football_division_football_matches_path(@football_division) %>
