<%= render 'division' %>
<%- model_class = Division -%>

<dl>
  <dt><strong><%= "#{@sport.name} #{model_class.model_name.human}" %>:</strong></dt>
  <dd>
    <%= @division.name %>
    <%= @division.odds_numerator %>/<%= @division.odds_denominator %>
    <% if @division.active %>
      <b>Active</b>
    <% else %>
      <i>Inactive</i>
    <% end %>
  </dd>
</dl>

<dl>
  <% @seasons.reverse_each do |season| %>
    <%= link_to season.name, division_season_tables_path(@division, season) %>
    <% if @priced_seasons.include?(season) %>
      <%= link_to "[#{season.matches.where(division: @division).with_prices.count}]", division_season_fixtures_path(@division, season) %>
    <% end %>
  <% end %>
</dl>

<div class="form-actions">
  <%= link_to t('.matches', :default => t("helpers.links.matches")),
              division_matches_path(@division), :class => 'btn' %>
  <%= link_to t('.back', :default => t("helpers.links.back")),
              sport_divisions_path(@sport), :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_division_path(@division), :class => 'btn btn-sm btn-outline-primary' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              division_path(@division),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => "Are you sure you wish to delete division #{@division.name}?")) },
              :class => 'btn btn-sm btn-outline-danger' %>
</div>
