<h1>New betfair_market_type</h1>

<% form_for([@sport, @betfair_market_type]) do |f| %>
  <%= render "shared/error_messages", :target => @betfair_market_type %>
  <p>
    <b>Description</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Active</b><br />
    <%= f.check_box :active %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', betfair_market_types_path %>
