<!-- $Id$ -->
<h4>Basket Rule <%= @basket_rule.name %></h4>

<table class="table table-striped table-responsive">
  <tr>
    <th>Market</th>
    <th>Runner</th>
    <th>Weight</th>
    <th colspan="2">Actions</th>
  </tr>

<% @basket_rule.basket_rule_items.each do |basket_item| %>
  <% item_desc = full_runner_type_name(basket_item.betfair_runner_type) %>
  <tr>
    <td><%= basket_item.betfair_runner_type.betfair_market_type.name %></td>
    <td><%= basket_item.betfair_runner_type.name %></td>
    <td align="right"><%=h basket_item.weighting %></td>
    <td><%= link_to 'Edit', edit_basket_rule_basket_rule_item_path(@basket_rule, basket_item), :class => 'btn btn-sm btn-outline-primary' %></td>
    <td><%= link_to 'Remove', [@basket_rule, basket_item], :data => { :confirm => "Are you sure you wish to remove #{item_desc}?" }, :method => :delete, :class => 'btn btn-sm btn-outline-danger' %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Add Rule Item', new_basket_rule_basket_rule_item_path(@basket_rule), :class => 'btn btn-primary' %>
<%= link_to "#{@basket_rule.sport.name} Basket Rules", sport_basket_rules_path(@basket_rule.sport), :class => 'btn' %>
