<!-- $Id$ -->
<%- model_class = Basket -%>
<div class="page-header">
  <b>
    <%= link_to @match.division.name, division_matches_path(@match.division) %>
    <%=t '.title', :default => model_class.model_name.human.pluralize %>
    for
    <%= link_to @match.name, @match %>
    <%= @match.kickofftime.to_fs(:kickoff).html_safe %>
  </b>
  <%= format_result(@match) %>
  <%= link_to 'Markets', polymorphic_url([@match, :bet_markets]) %>
</div>
<% active_baskets = @baskets.select(&:complete?) %>
<div class="row">
  <div class="col-9">
    <%#content_tag :div, nil, class: 'bet-markets-chart', id: "baskets_chart",
                    data: { labels: basket_labels(active_baskets),
                            ykeys: basket_ykeys(active_baskets),
                            xkey: bet_markets_xkey,
                            markets: basket_chart_data(active_baskets),
                            ymin: 'auto'
                           } %>
    <%= line_chart(basket_data(active_baskets).map { |bmdata| { name: bmdata[:label], data: bmdata[:prices] }},
                   min: 0.72,
                   max: 1.05,
                   height: '700px') %>
  </div>
  <div class="col-3">
    <table class="table table-striped table-responsive">
    <tr>
      <th>Name</th>
      <th>Counts</th>
      <th colspan="2">Actions</th>
    </tr>
    <% @baskets.each do |basket| %>
      <tr>
        <td><%= link_to basket.basket_rule.name, basket_basket_items_path(basket) %></td>
        <td><%= link_to "#{basket.basket_items_count}/#{basket.missing_items_count}", basket_event_basket_prices_path(basket) %></td>
        <td><%= link_to 'Delete', [@match, basket], :data => { :confirm => "Are you sure you wish to delete basket #{basket.basket_rule.name}?" },
                        :method => :delete,
                        :class => 'btn btn-sm btn-outline-danger' %></td>
      </tr>
    <% end %>
    </table>
  </div>
</div>
