<div class="page-header">
  <b>
    <%#= link_to match.division.name, division_matches_path(match.division) %>
    <%= link_to match.division.name, sport_season_division_fixture_path(match.sport, match.season, match.division, match.kickofftime.to_date) %>
    <%= link_to match.name, match %>
    <%= match.kickofftime.to_fs(:kickoff).html_safe %>
  </b>
  <%= format_result(match) %>
  <%= link_to 'Half Time',
              half_time_sport_season_fixture_bet_markets_path(match.sport, match.season, match) %>
</div>
