<%= javascript_include_tag "hello_elm", type: "module" %>
<%= render 'menu', seasons: @seasons, season: @season, divisions: @season.calendar.divisions, date: @date %>
<div align="center">
  <%= render 'title', match: @fixture %>
</div>
<% @fixtures.each do |f| %>
  <%= link_to_unless @fixture == f, f.name, sport_season_fixture_bet_markets_path(f.division.sport, f.season, f) %>
<% end %>
<%=
  content_tag :div, 'Chart', id: 'applet',
                class: 'applet',
                data: { source: all_runner_data(@bet_markets).map { |bmdata| { name: bmdata[:label], data: bmdata[:prices].map { |p, v| [time: p, value: v.to_f]} }} }
%>

<%= render 'chart', bet_markets: @bet_markets %>
<%= render 'lambda_chart', bet_markets: @bet_markets, name: 'CorrectScore', limit: 3 %>
