<!-- $Id$ -->
<h1>New Match</h1>

<%= form_for([@division,@match]) do |f| %>
  <%= render "shared/error_messages", :target => @match %>

  <p>
    <%= f.label :kickofftime %><br />
    <%= f.datetime_select :kickofftime %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', division_soccer_matches_path(@division) %>
