<h1>New team_name</h1>

<% form_for([@team,@team_name]) do |f| %>
  <%= render "shared/error_messages", :target => @team_name %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', team_names_path %>
