<table class="table table-bordered table-responsive table-striped">
  <tr>
    <th colspan="2">Name</th>
    <th>Pld</th>
    <th colspan="5">Home</th>
    <th colspan="5">Away</th>
    <th>GD</th>
    <th>Pts</th>
  </tr>
  <tr>
    <td colspan="3"></td>
    <td>W</td><td>D</td><td>L</td><td>F</td><td>A</td>
    <td>W</td><td>D</td><td>L</td><td>F</td><td>A</td>
    <td colspan="2"></td>
  </tr>
  <% rows.each_with_index do |row, index| %>
    <tr>
      <td align="right"><%= index + 1 %></td>
      <td><%= row.team_name %></td>
      <td><%= row.played %></td>
      <td><%= row.home_wins %></td>
      <td><%= row.home_draws %></td>
      <td><%= row.home_losses %></td>
      <td><%= row.home_for %></td>
      <td><%= row.home_against %></td>
      <td><%= row.away_wins %></td>
      <td><%= row.away_draws %></td>
      <td><%= row.away_losses %></td>
      <td><%= row.away_for %></td>
      <td><%= row.away_against %></td>
      <td><%= row.goal_difference %></td>
      <td><%= row.points %></td>
    </tr>
  <% end %>
</table>
<!--<div>-->
<!--  <div class="row">-->
<!--    <div class="col-1">&nbsp;</div>-->
<!--    <div class="col-1">Name</div>-->
<!--    <div class="col-1">Pld</div>-->
<!--    <div class="col-3">Home</div>-->
<!--    <div class="col-3">Away</div>-->
<!--    <div class="col-1">GD</div>-->
<!--    <div class="col-1">Pts</div>-->
<!--    <div class="col-1">&nbsp;</div>-->
<!--  </div>-->
<!--  <div class="row">-->
<!--    <div class="col-3">&nbsp;</div>-->
<!--    <div class="col-3 row">-->
<!--      <div class="col-2">W</div>-->
<!--      <div class="col-2">D</div>-->
<!--      <div class="col-2">L</div>-->
<!--      <div class="col-2">F</div>-->
<!--      <div class="col-2">A</div>-->
<!--    </div>-->
<!--    <div class="col-3 row">-->
<!--      <div class="col-2">W</div>-->
<!--      <div class="col-2">D</div>-->
<!--      <div class="col-2">L</div>-->
<!--      <div class="col-2">F</div>-->
<!--      <div class="col-2">A</div>-->
<!--    </div>-->
<!--    <div class="col-3">&nbsp;</div>-->
<!--  </div>-->
  <%# rows.each_with_index do |row, index| %>
<!--    <div class="row">-->
<!--      <div class="col-1"><%#= index + 1 %></div>-->
<!--      <div class="col-1"><%#= row.team_name %></div>-->
<!--      <div class="col-1"><%#= row.played %></div>-->
<!--      <div class="col-3 row">-->
<!--        <div class="col-2"><%#= row.home_wins %></div>-->
<!--        <div class="col-2"><%#= row.home_draws %></div>-->
<!--        <div class="col-2"><%#= row.home_losses %></div>-->
<!--        <div class="col-2"><%#= row.home_for %></div>-->
<!--        <div class="col-2"><%#= row.home_against %></div>-->
<!--      </div>-->
<!--      <div class="col-3 row">-->
<!--        <div class="col-2"><%#= row.away_wins %></div>-->
<!--        <div class="col-2"><%#= row.away_draws %></div>-->
<!--        <div class="col-2"><%#= row.away_losses %></div>-->
<!--        <div class="col-2"><%#= row.away_for %></div>-->
<!--        <div class="col-2"><%#= row.away_against %></div>-->
<!--      </div>-->
<!--      <div class="col-1"><%#= row.goal_difference %></div>-->
<!--      <div class="col-1"><%#= row.points %></div>-->
<!--      <div class="col-1">&nbsp;</div>-->
<!--    </div>-->
  <%# end %>
<!--</div>-->
