<!-- $Id$ -->
<b>Matches for <%= link_to @sport.name, @sport %></b>
<%= form_tag({}, method: :get) do %>
  <%= hidden_field_tag(:direction, @direction) %>
  <%= hidden_field_tag(:order, @order) %>
  <%= hidden_field_tag(:priced_only, false) if @priced_only %>
  Only Display Priced Matches <%= check_box_tag(:priced_only, true, @priced_only == 'true', class: 'submit_on_change') %>
<% end  %>
<table class="table table-striped table-responsive">
  <thead>
  <tr>
    <th><%= link_to_if((@offset and @offset >= @limit), '<<', priced_only: @priced_only,
                       :order => @order, :direction => @direction,
                       :offset => @offset ? @offset - @limit : 0, :limit => @limit) %></th>
    <th>Division</th>
    <th>Season</th>
    <th>Name</th>
    <th><%= link_to 'Markets', priced_only: @priced_only, order: :bet_markets_count,
                    direction: @order == 'bet_markets_count' ? swap_direction(@direction) : 'asc' %></th>
    <th><%= link_to 'Prices', priced_only: @priced_only, order: :prices_count,
                    direction: @order == 'prices_count' ? swap_direction(@direction) : 'asc' %></th>
    <th><%= link_to 'Kickofftime', priced_only: @priced_only, :order => :kickofftime,
                    :direction => @order == 'kickofftime' ? swap_direction(@direction) : 'asc' %></th>
    <th>Result</th>
    <th colspan="2">Actions</th>
    <th align="right"><%= link_to '>>',  priced_only: @priced_only, :order => @order,
                                  :direction => params[:direction], :offset => @offset ? @offset + @limit : 0,
                                  :limit => @limit %></th>
  </tr>
  </thead>

  <tbody>
  <% @matches.each_with_index do |match, offset| %>
    <tr id="<%= match.id %>">
      <td>&nbsp;</td>
      <td><%= link_to match.division.name, division_matches_path(match.division) %></td>
      <td><%= match.season.name %> (<%= match.season.calendar.name %>)</td>
      <td><%=h match.name %></td>
      <td class="text-right"><%= link_to match.bet_markets_count, polymorphic_url([match, :bet_markets]) %></td>
      <td class="text-right"><%= match.prices_count %></td>
      <td><%= link_to match.kickofftime.to_fs(:kickoff).html_safe, polymorphic_url(match, order: "#{@order} #{@direction}", offset: @offset + offset, priced_only: @priced_only) %></td>
      <td>
        <%= format_result(match) %>
      </td>
<!--      <td><%#= link_to 'Edit', polymorphic_url(match, :action => :edit), :class => 'btn btn-sm btn-outline-primary' %></td>-->
      <td><%= link_to 'Edit', edit_match_url(match), :class => 'btn btn-sm btn-outline-primary' %></td>
      <td>
        <%= link_to 'Delete',
                    match,
                    :remote => true,
                    :data => { :confirm => "Are you sure you want to delete #{match.name}?" },
                    :method => :delete,
                    :class => 'delete-match btn btn-sm btn-outline-danger' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
