<%- active_markets = @bet_markets.select { |bm| bm.active } -%>
<div class="row">
  <%# content_tag :div, nil, class: 'bet-markets-chart', id: "bet_markets_chart",
                    data: { labels: bet_markets_labels(active_markets),
                            ykeys: bet_markets_ykeys(active_markets),
                            xkey: bet_markets_xkey,
                            markets: market_chart_data(active_markets) } %>
  <%= line_chart(bet_market_data(active_markets).map { |bmdata| { name: bmdata[:label], data: bmdata[:prices] }},
                 min: 1,
                 height: '500px') %>
</div>
<div class="row">
  <table class="table table-striped table-responsive">
    <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:type) %></th>
      <th><%= model_class.human_attribute_name(:runners) %></th>
      <th><%= model_class.human_attribute_name(:prices) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%= model_class.human_attribute_name(:market_type) %></th>
      <th><%= model_class.human_attribute_name(:valuer) %></th>
      <th><%= model_class.human_attribute_name(:active) %></th>
      <th><%= model_class.human_attribute_name(:live) %></th>
      <th><%= model_class.human_attribute_name(:live_priced) %></th>
      <th colspan="3"><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
    </thead>
    <tbody>
    <% @bet_markets.each do |bet_market| %>
      <tr>
        <td><%= bet_market.name %></td>
        <td><%= bet_market.markettype %></td>
        <td align="right"><%= link_to bet_market.market_runners_count, bet_market_market_runners_path(bet_market) %></td>
        <td align="right"><%= bet_market.prices_count %></td>
        <td><%= bet_market.status %></td>
        <td><%= link_to bet_market.betfair_market_type.name, bet_market.betfair_market_type %></td>
        <td><%= bet_market.betfair_market_type.valuer %></td>
        <td><%= bet_market.active ? 'Y' : 'N' %></td>
        <td><%= 'L' if bet_market.live %></td>
        <td><%= bet_market.live_priced ? 'Y' : 'N' %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_bet_market_path(bet_market), :class => 'btn btn-sm btn-outline-primary' %>
        </td>
        <td>
            <%= link_to t('.delete', :default => t("helpers.links.delete")),
                        bet_market_path(bet_market),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => "Are you sure you wish to delete #{bet_market.name}?")) },
                        :class => 'btn btn-sm btn-danger' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
