<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<!-- $Id$ -->
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Scorers: <%= controller.action_name %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="span2">
        <%= link_join raw_links_for(:sports).concat(sport_links) %>
      </div>
      <div class="span10">
        <p style="color: green"><%= flash[:notice] %></p>
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
