<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<!-- $Id$ -->
<head>
  <%= render 'layouts/shared/header' %>
  <title>Soccer Matches <%= @division.name %>:<%= controller.action_name %></title>
</head>
<body>
<ul class="nav">
  <li class="nav-item">
    <%= link_to 'Sports', sports_path, class: 'nav-link active' %>
  </li>
  <li class="nav-item">
    <%= link_to @division.name, @division, class: 'nav-link active' %>
  </li>
  <%= render 'layouts/shared/active_future_links' %>
</ul>
<div class="container-fluid">
  <%= yield %>
</div>
</body>
</html>
